*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.chat__header {
  height: 5rem;
  background-color: lightsteelblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.chat__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.chat__support {
  height: 6rem;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  padding: 1rem;
}

.chat__support-img-container {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.chat__support-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: lightgrey;
}

.chat__support-name {
  grid-column: 2 / -1;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.chat__support-job {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: grey;
  font-size: 1.2rem;
}

.chat__body {
  min-height: 50rem;
  height: 100%;
  padding: 2rem 1rem 1rem 1rem;
  word-wrap: break-word;
}

.chat__item {
  font-size: 1.6rem;
  list-style: none;
}

.chat__form {
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.chat__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  border-radius: 0.5rem;
  font-size: 2rem;
  resize: none;
  padding: 1rem;
  border: 1 solid lightgrey;
}

.chat__btn {
  width: 7rem;
  height: 100%;
  margin-left: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
}

.message {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  padding: 1rem 2rem;
}

.message--right {
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
}

.message__img-container {
  grid-row: 2 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message__img-container--right {
  grid-column: 2 / -1;
}

.message__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: lightgrey;
}

.message__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  font-size: 1.6rem;
  color: grey;
  padding-left: 1rem;
}

.message__name--right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  text-align: end;
  padding-left: 0;
  padding-right: 1rem;
}

.message__msg {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  font-size: 1.6rem;
  background-color: lightgrey;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
}

.message__msg--right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}
