*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App > :first-child {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 5rem;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.chat--open {
  width: 20rem;
}

.chat__header {
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  height: 100%;
  z-index: 2;
  background-color: #7da4d8;
}

.chat__support {
  height: 6rem;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  padding: 1rem;
  z-index: 1;
  background-color: #fff;
  color: #000;
}

.chat__support-img-container {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.chat__support-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #bfbfbf;
}

.chat__support-name {
  grid-column: 2 / -1;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.chat__support-title {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  font-size: 1.2rem;
}

.chat__body {
  height: 50rem;
  padding: 2rem 1rem 1rem 1rem;
  word-wrap: break-word;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chat__item {
  font-size: 1.6rem;
  list-style: none;
}

.chat__form {
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.chat__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  resize: none;
  padding: 1rem;
  outline: none;
  border: 1 solid #e6e6e6;
}

.chat__btn {
  width: 7rem;
  height: 100%;
  margin-left: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  background-color: #e6e6e6;
  font-weight: bold;
  color: #8c8c8c;
  cursor: pointer;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

.chat__btn:hover {
  background-color: #d9d9d9;
  color: black;
}

.chat__btn-show {
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  z-index: 3;
  font-size: 8rem;
  line-height: 0;
  font-weight: 300;
  cursor: pointer;
}

.chat__btn-show--open {
  font-size: 4.5rem;
  font-weight: 500;
}

.message {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  padding: 1rem 2rem;
}

.message--right {
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
}

.message__img-container {
  grid-row: 2 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message__img-container--right {
  grid-column: 2 / -1;
}

.message__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e6e6e6;
}

.message__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  font-size: 1.6rem;
  color: #8c8c8c;
  padding-left: 1rem;
  text-transform: capitalize;
}

.message__name--right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  text-align: end;
  padding-left: 0;
  padding-right: 1rem;
}

.message__msg {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  font-size: 1.6rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
  line-height: 1.3;
}

.message__msg--right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 1rem 1rem 0 1rem;
}

.message__msg--general {
  color: #8c8c8c;
  text-align: center;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-transform: capitalize;
}
