.chat {
    display: flex;
    flex-direction: column;
    width: 50rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
    background-color: $color-white;
    position: relative;
    transition: 0.2s all;

    &--open {
        height: 5rem;
        width: 5rem;
    }
    &__header {
        text-transform: uppercase;
        color: $color-white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $color-blue;
        position: relative;
    }
    &__header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        height: 100%;
        z-index: 2;
        background-color: $color-blue;

        &--open {
            visibility: hidden;
        }
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-grey-3;
        transition: 0.2s all ease-in-out;

        &:hover {
            fill: $color-white;
        }
    }
    &__support {
        height: 6rem;
        box-shadow: 0 0.2rem 1rem rgba($color-black, 0.5);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: min-content 1fr;
        padding: 1rem;
        z-index: 1;
        background-color: $color-white;
        color: $color-black;
    }
    &__support-img-container {
        grid-row: 1 / -1;
        grid-column: 1 / span 1;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
    &__support-img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-grey-5;
    }
    &__support-name {
        grid-column: 2 / -1;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        font-size: $default-font-size;
    }
    &__support-title {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        color: $color-grey-6;
        font-size: 1.2rem;
    }
    &__body {
        height: 40rem;
        min-height: 40rem;
        padding: 2rem 1rem 1rem 1rem;
        word-wrap: break-word;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    &__item {
        font-size: 1.6rem;
        list-style: none;
    }
    &__form {
        height: 12rem;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    &__input {
        flex-grow: 1;
        height: 100%;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        resize: none;
        padding: 1rem;
        outline: none;
        border: 1 solid $color-grey-2;
    }
    &__btn {
        width: 7rem;
        height: 100%;
        margin-left: 0.9rem;
        border-radius: 0.5rem;
        border: none;
        font-size: $default-font-size;
        background-color: $color-grey-2;
        font-weight: bold;
        color: $color-grey-6;
        cursor: pointer;
        transition: 0.15s all ease-in-out;

        &:hover {
            background-color: $color-grey-3;
            color: black;
        }
    }
    &__btn-icon {
        position: absolute;
        top: 2.3rem;
        right: 2rem;
        z-index: 3;
        font-size: 8rem;
        line-height: 0;
        font-weight: 300;
        cursor: pointer;

        &--open {
            font-size: 4.5rem;
            font-weight: 500;
            top: 50%;
            left: 50%;
            right: 0;
            transform: translate(-50%, -50%);
        }
    }
    &__minimize {
        width: 2.5rem;
        height: 0.7rem;
        background-color: $color-grey-3;
        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: $color-white;
            transform: scale(1.2);
        }
    }
    &__icon-container {
        position: relative;
    }
    &__icon-container:hover > &__counter {
        background-color: $color-white;
    }
    &__counter {
        position: absolute;
        top: -1rem;
        right: -0.75rem;
        font-size: 1.1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: red;
        background-color: $color-grey-2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s all ease-in-out;
    }
}
